<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="well">
            <h3>{{titulo}} </h3>
            <form ng-submit="saveUser()">
              <div class="form-group col-md-12 ">
                <span class="label label-default">Número de identificación</span>
                  <input type="number" class="form-control" placeholder="ID" ng-model="usuario.idUsuario" required >
                  <div ng-messages="usuario.idUsuario.$error">
                      <div ng-message="required">This field is required</div>
                    </div>
              </div>
                <div class="form-group col-md-6 ">
                  <span class="label label-default"> Primer Nombre</span>
                    <input type="text" class="form-control" placeholder="Primer Nombre" ng-model="usuario.nombre1" required  >
                </div>

                <div class="form-group col-md-6">
                  <span class="label label-default">Segundo Nombre</span>
                  <input type="text" class="form-control"  placeholder="Segundo Nombre" ng-model="usuario.nombre2" >
                  <span class="help-block">opcional</span>
                </div>
                <div class="form-group col-md-6">
                  <span class="label label-default">Primer Apellido</span>
                  <input type="text" class="form-control"  placeholder="Primer Apellido" ng-model="usuario.apellido1" required >
                </div>
                <div class="form-group col-md-6">
                  <span class="label label-default">Segundo Apellido</span>
                  <input type="text" class="form-control"  placeholder="Segundo Apellido" ng-model="usuario.apellido2" >
                  <span class="help-block">opcional</span>
                </div>
                <div class="form-group col-md-12">
                  <span class="label label-default">Teléfono</span>
                    <input type="text" pattern="[0-9]+" class="form-control" placeholder="Teléfono" ng-model="usuario.telefono" required title="Digite solo números" >
                </div>
                <div class="form-group col-md-12">
                  <span class="label label-default">correo</span>
                    <input type="email" class="form-control" placeholder="Correo" ng-model="usuario.correo" required >
                </div>
                <div ng-if="actualiza">
                  <div class="form-group col-md-12">
                      <span class="label label-default">Contraseña</span>
                      <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="La contraseña debe tener al menos 6 letra con una mayuscula, minuscula y numero"  placeholder="Contraseña" ng-model="usuario.password" >
                  </div>
                  <div class="form-group col-md-12">
                      <span class="label label-default">Confirmar Contraseña</span>
                      <input type="password" class="form-control" placeholder="confirmar Contraseña"  ng-model="usuario.confirmPass"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="La contraseña debe tener al menos 6 letra con una mayuscula, minuscula y numero" >
                  </div>
                </div>
                <div ng-if="actualiza == false">
                  <div class="form-group col-md-12">
                      <span class="label label-default">Contraseña</span>
                      <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required title="La contraseña debe tener al menos 6 letra con una mayuscula, minuscula y numero"  placeholder="Contraseña" ng-model="usuario.password" >
                  </div>
                  <div class="form-group col-md-12">
                      <span class="label label-default">Confirmar Contraseña</span>
                      <input type="password" class="form-control" placeholder="confirmar Contraseña" required   ng-model="usuario.confirmPass"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="La contraseña debe tener al menos 6 letra con una mayuscula, minuscula y numero" >
                  </div>
                </div>

                <div class="form-group col-md-12">
                    <span class="label label-default">ZIP</span>
                    <input type="text" class="form-control" placeholder="ZIP" ng-model="usuario.zip" required >
                </div>
                <div class="form-group col-md-12">
                  <span class="label label-default">Direccion</span>
                  <textarea name="name" rows="8" cols="40" class="form-control" ng-model="usuario.direccion" required ></textarea>
                </div>
                <div class="form-group col-md-12">
                    <span class="label label-default">Administrador</span>
                    <label class="radio-inline"><input type="radio" ng-model="usuario.admin" value="1">Si</label>
                    <label class="radio-inline"><input type="radio" ng-model="usuario.admin" value="0">No</label>
                </div>
                <button class="btn btn-success" type="submit">{{boton}}</button><br>

            </form>
        </div>
    </div>
</div>
