<div class="footer navbar-inverse">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-8">
        <h3>Departamentos</h3>
          <ul class="col-md-3 lista">
            <li><a href="#">Bebidas Frías</a></li>
            <li><a href="#">Té</a></li>
            <li><a href="#">Café</a></li>
            <li><a href="#">Lactéos</a></li>
            <li><a href="#">Chocolate</a></li>
            <li><a href="#">Golosinas</a></li>
            <li><a href="#">Galletas</a></li>
            <li><a href="#">Harinas</a></li>
            <li><a href="#">Panadería</a></li>
            <li><a href="#">Postres</a></li>
          </ul>
          <ul class="col-md-4 lista">
            <li><a href="#">Snacks</a></li>
            <li><a href="#">Endulzantes</a></li>
            <li><a href="#">Cereales</a></li>
            <li><a href="#">Libros de Cocina</a></li>
            <li><a href="#">Vegetales</a></li>
            <li><a href="#">Frutas</a></li>
            <li><a href="#">Frutos secos</a></li>
            <li><a href="#">Flanes y Gelatinas</a></li>
            <li><a href="#">Mermeladas</a></li>
            <li><a href="#">Pastas</a></li>
          </ul>
      </div>
      <div class="col-md-4 panel-body">
        Copyright Todos los Derechos Reservados
      </div>
    </div>
  </div>
</div>
