<div ng-include="main.menuTemplate.url"></div>
<hr>
<div class="panel panel-group text-center">
  <div class="panel-body">
    <div class="panel col-md-4">
      <div class="panel-body">
        hola
      </div>
    </div>
    <div class="panel col-md-4 panel-success">
      <div class="panel-body">
        hola
      </div>
    </div>

    <div class="panel col-md-4 panel-danger">
      <div class="panel-body">
        hola
      </div>
    </div>
  </div>
</div>
<div class="panel col-md-12 panel-success text-center" style="background-color:#2ecc71; color: white; margin-bottom:0px">
  <div class="panel-title text-shadow">
    <h3><span class="glyphicon glyphicon-tag"></span>¿Qué es la Celiaquía?</h3>
  </div>
  <div class="panel-body col-md-10 col-md-push-1 ">
    <div class="col-md-4 col-md-push-1 ">
        <img src="images/blanco.png" alt="celia" class="imgI" />
    </div>

    <p class="col-md-6 text-justify margin-top">
      Es una enfermedad que produce inflamación en el intestino delgado y daño a su revestimiento. Esto impide la absorción de componentes importantes de los alimentos. El daño a la mucosa del intestino proviene de una reacción a la ingestión de gluten, que se encuentra en el trigo, la cebada, el centeno, y posiblemente la avena, y en alimentos elaborados con estos ingredientes.
    </p>
  </div>
</div>
<div class="panel col-md-12 panel-success text-center" style="background-color:#eec035; color: white; margin-bottom:0px;">
  <div class="panel-title text-shadow">
    <h3><span class="glyphicon glyphicon-tag"></span> Tratamiento</h3>
  </div>
  <div class="panel-body col-md-10 col-md-push-1">
    <div class="col-md-4 col-md-push-1 ">
        <img src="images/blanco.png" alt="celia" class="imgI" />
    </div>

    <p class="col-md-6 text-justify margin-top">
      La celiaquía no se puede curar. Los síntomas desaparecerán y las vellosidades en el revestimiento de los intestinos sanarán si usted sigue una dieta libre de gluten de por vida. No consuma alimentos, bebidas ni tome medicamentos que contengan trigo, centeno, cebada o posiblemente avena.
    </p>
  </div>
</div>
<div class="panel col-md-12 panel-success text-center" style="background-color:#ee5e35; color: white; margin-bottom:0px;">
  <div class="panel-title text-shadow">
    <h3><span class="glyphicon glyphicon-tag"></span>Sobre Nosotros</h3>
  </div>
  <div class="panel-body col-md-10 col-md-push-1">
    <div class="col-md-4 col-md-push-1 ">
        <img src="images/blanco.png" alt="celia" class="imgI" />
    </div>

    <p class="col-md-6 text-justify margin-top">
      La celiaquía es una enfermedad cada vez más común entre la poblacion y con ello se requiere cada día más de una tienda con gran cantidad de productos para que los celiacos puedan consumir sin miedo a dañar su sistema digestivo. Por eso en doña Celia nos comprometemos en traerle una gran cantidad de productos
    </p>
  </div>
</div>
<div ng-include="main.footerTemplate.url"></div>
