<div class="header" ng-controller="MenuCtrl as menu">
  <div class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-left" href="#/">
          <img class="navbar-brand navbar-left" alt="" src="images/mobile.png" />
          <span class="navbar-brand logo">Doña Celia</span>
        </a>

      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-class="{active : menu.isActive('/')}"><a href="#/">Inicio</a></li>
          <li ng-class="{active : menu.isActive('/about')}"><a ng-href="#/about">sobre nosotros</a></li>
        </ul>
        <a href="#/login" class="navbar-btn btn navbar-right btn-warning"><span class="glyphicon glyphicon-user"></span> Iniciar Sesion</a>
      </div>
    </div>
  </div>
  <div class="fondo"> Bievenido a la mejor tienda libre de gluten
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-success glyphicon glyphicon-search"></button>
    </form>
  </div>


  </div>
</div>
