<div ng-include="usuario.menuTemplate.url"></div>
<div class="col-md-12">
  <div class="text-right">
  <a href="#/usuario/crear" class="img-circle btn btn-success glyphicon glyphicon-plus "></a>
  </div>
  <div class="col-md-3">
    <div class="form-group col-md-10">
      <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">
    </div>
    <button type="submit" class="btn btn-warning glyphicon glyphicon-search"></button>

  </div>
</div>
<div class="container">
  <div class="row">
      <!-- Card Projects -->
      <div ng-repeat="users in Usuarios | startFrom:(currentPage - 1)* pageSize | limitTo: pageSize | filter:search" class="col-md-4 col-sm-6 col-xs-push-1 col-xs-10">
          <div class="card" >
              <div class="card-image">
                  <img class="img-responsive" src="http://localhost:8000/img/usuarios/{{users.imagenUsuario}}">
                  <span class="card-title">{{users.nombre1}} {{users.apellido1}} </span>
              </div>

              <div class="card-content">
                <p>
                    Nombre Completo: {{users.nombre1}}{{users.nombre2}} {{users.apellido1}} {{users.apellido2}}
                    <br>
                    Correo: {{users.correo}}
                    <br>
                    Teléfono: {{users.Telefono}}
                    <br>
                    Zip: {{users.ZIP}}
                    <br>
                    Direccion: {{users.direccion}}

                </p>

              </div>

              <div class="card-action">
                  <a href="#/usuario/actualizar/{{users.idUsuario}}" class="glyphicon glyphicon-pencil"></a>
                  <a  ng-click="removeUser(users.idUsuario)"  class="glyphicon glyphicon-remove"></a>
              </div>
          </div>
      </div>
  </div>
  <uib-pagination total-items="Usuarios.length" ng-model="currentPage" items-per-page="pageSize"></uib-pagination>﻿

</div>
