<div ng-include="usuario.menuTemplate.url"></div>
<div class="text-right">
<a href="#" class="img-circle btn btn-success glyphicon glyphicon-plus "></a>
</div>
<div class="col-md-11 col-md-push-1">
  <div class="well col-md-3" style="background-color:yellow">

  </div>
  <div class="well col-md-3 col-md-push-1" style="background-color:yellow">
asd
  </div>
  <div class="well col-md-3 col-md-push-2" style="background-color:yellow">
asdsad
  </div>

</div>
<div class="col-md-11 col-md-push-1">
  <div class="well col-md-3" style="background-color:yellow">

  </div>
  <div class="well col-md-3 col-md-push-1" style="background-color:yellow">
asd
  </div>
  <div class="well col-md-3 col-md-push-2" style="background-color:yellow">
asdsad
  </div>

</div>
